body{
    font-family: sans-serif;
}

/*Global Classes styling*/

.bg-light{
    background-color: #E8E8E8 !important;
}

.active{
    color: #259FD4 !important;
}

.btn-success{
    background-color: #259FD4 !important;
    border: 1px solid whitesmoke;
    opacity: 0.7;
}

.btn-success:hover{
    opacity: 0.9;
    border-bottom: 1px solid whitesmoke;
    transition: 1s;
}

.modal-header{
    background-color: black;
    color: whitesmoke;
    margin-bottom: 30px;
}


/*-----------------------------------------*/

/*Navbar Styling starts from here*/

#NavbarCollapseArea ul > li > a:hover{
    color: #259FD4;
    transition: 1s;
}

#NavbarCollapseArea ul > li >a{

    color: black;
    font-size: 15px;
    margin-left: 15px;
}

#NavbarCollapseArea ul > li{
    font-size: 14px;
}


/*About section styling starts from here*/

#About {
    padding-top: 150px;
    padding-bottom: 50px;
}
#About h3{
    text-align: center;
}

#About h3::after{
    content: "-------";
    display: block;
}

#About p{
    font-size: 14px;
    text-align: justify;
    line-height: 2;
}

#About h6{
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}



footer{
    background-color: black;
    padding: 15px;
}

footer h6{
    color: whitesmoke;
    font-size: 14px;
}

footer p{
    color: whitesmoke;
    font-size: 14px;
}

footer p a{
    text-decoration: none;
}


/*Media Quries Strat from here*/

/*Small Devices media Quries start from here*/
@media (max-width: 576px) {


    #About h3{
        font-size: 20px;
    }

    #About h3+p{
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }






    footer h6{
        text-align: center;
        line-height: 1.8;
    }


}



/*Medium devices media Quries*/

@media (min-width: 576px) and (max-width: 767.98px){
    .about-section > h1:first-child{
        font-size: 2.5em;
    }

    footer h6{
        text-align: center;
        line-height: 1.7;
    }
}



@media (min-width: 768px) and (max-width: 991.98px) {

    footer h6{
        text-align: center;
        line-height: 1.7;
    }
}



@media (min-width: 992px) and (max-width: 1199.98px){
    footer h6{
        text-align: center;
        line-height: 1.7;
    }
}