body{
    font-family: sans-serif;
}

/*Global Classes styling*/

.bg-light{
    background-color: #E8E8E8 !important;
}

.active{
    color: #259FD4 !important;
}

.btn-success{
    background-color: #259FD4 !important;
    border: 1px solid whitesmoke;
    opacity: 0.7;
}

.btn-success:hover{
    opacity: 0.9;
    border-bottom: 1px solid whitesmoke;
    transition: 1s;
}

.modal-header{
    background-color: black;
    color: whitesmoke;
    margin-bottom: 30px;
}


/*-----------------------------------------*/

/*Navbar Styling starts from here*/

#NavbarCollapseArea ul > li > a:hover{
    color: #259FD4;
    transition: 1s;
}

#NavbarCollapseArea ul > li >a{

    color: black;
    font-size: 15px;
    margin-left: 15px;
}

#NavbarCollapseArea ul > li{
    font-size: 14px;
}

/*Landing page image styling starts from here*/

.landing-section{
    background-image: url("../images/a-l-135921-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: top;
    margin-top: 63px;

}

.landing-section > h1:first-child{
    text-align: center;
    color: whitesmoke;
    padding-top: 190px;
    font-size: 3.2em;
    font-weight: bolder;
    letter-spacing: 2px;
    opacity: 0.9;

}

.landing-section > p:nth-child(2){
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 0.9;
}

.landing-section >  div > a{
    margin-top: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
}



/*About section styling starts from here*/

#About {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: ghostwhite;
    border-bottom: 1px solid #cecece;
}
#About h3{
    text-align: center;
}

#About h3::after{
    content: "-------";
    display: block;
}

#About h3+p{
    margin-top: 30px;
    text-align: justify;
    line-height: 2;
}

#About div > a{
    margin-top: 15px;
}


/*Events section styling starts from here*/

#events {
    padding-top: 80px;
    padding-bottom: 50px;
}


#events h3{
    text-align: center;
}

#events h3::after{
    content: "-------";
    display: block;
}

#events h5+p{
    text-align: justify;
    font-size: 14px;
}

#events p+h6{
    text-align: center;
    font-weight: bolder;
}

/*Parallax section style starts from here*/

#parallax{
    background-image: url("../images/matty-adame-326236-unsplash.png");
    background-size: cover;
    width: 100%;
    height: 400px;
    background-size: cover;

}

#parallax h2{
    color: whitesmoke;
    opacity: 0.9;
    text-align: center;
    padding-top: 100px;
    font-weight: bolder;
    margin-bottom: 10px;
}

#parallax h2+p{
    line-height: 2;
    color: whitesmoke;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 40px;
}

/*Gallery section style starts from here*/

#gallery {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: ghostwhite;
    border-bottom:1px solid #cecece;
}

#gallery h3{
    text-align: center;
}

#gallery h3::after{
    content: "-------";
    display: block;
}


/*Contact us section styling starts from here*/

#contact {
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: ghostwhite;
}

#contact h3{
    text-align: center;
}

#contact h3::after{
    content: "-------";
    display: block;
}

#contact i{
    font-size: 16px;
    margin-right: 10px;
    color: #259FD4;
}

#contact i+span{
    line-height: 2;
}

#contact h5{
    text-align: center;
}


#contact h5::after{
    content: "-------";
    display: block;
}


footer{
    background-color: black;
    padding: 15px;
}

footer h6{
    color: whitesmoke;
    font-size: 14px;
}

footer p{
    color: whitesmoke;
    font-size: 14px;
}

footer p a{
    text-decoration: none;
}


/*Media Quries Strat from here*/

/*Small Devices media Quries start from here*/
@media (max-width: 576px) {

    .landing-section > h1:first-child{
        font-size: 1.2em;
    }

    .landing-section > p:nth-child(2){
        font-size: 14px;
        line-height: 1.8;
    }

    .landing-section >  div > a{

        padding: 8px;
    }

    #About h3{
        font-size: 20px;
    }

    #About h3+p{
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #events h3{
        font-size: 20px;
    }

    #parallax{
        height: 620px;
    }

    #parallax h2{
        font-size: 20px;
    }

    #parallax h2+p{
        font-size: 14px;
    }

    #gallery h3{
        font-size: 20px;
    }

    #contact h3{
        font-size: 20px;
    }

    footer h6{
        text-align: center;
        line-height: 1.8;
    }


}



/*Medium devices media Quries*/

@media (min-width: 576px) and (max-width: 767.98px){
    .landing-section > h1:first-child{
        font-size: 2.5em;
    }

    #parallax{
        height: 520px;
    }

    footer h6{
       text-align: center;
     }
}



@media (min-width: 768px) and (max-width: 991.98px) {

    footer h6{
        text-align: center;
        line-height: 1.7;
    }
}



@media (min-width: 992px) and (max-width: 1199.98px){
    footer h6{
        text-align: center;
        line-height: 1.7;
    }
}