body{
    font-family: 'Roboto', sans-serif;
}

/*Global Classes styling*/

.bg-light{
    background-color: #E8E8E8 !important;
}

.active{
    color: #259FD4 !important;
}

.btn-success{
    background-color: #259FD4 !important;
    border: 1px solid whitesmoke;
    opacity: 0.7;
}

.btn-success:hover{
    opacity: 0.9;
    border-bottom: 1px solid whitesmoke;
    transition: 1s;
}

.modal-header{
    background-color: black;
    color: whitesmoke;
    margin-bottom: 30px;
    border-radius: 0px;
}


/*-----------------------------------------*/

/*Navbar Styling starts from here*/

#NavbarCollapseArea ul > li > a:hover{
    color: #259FD4;
    transition: 1s;
}

#NavbarCollapseArea ul > li >a{

    color: black;
    font-size: 15px;
    margin-left: 15px;
}

#NavbarCollapseArea ul > li{
    font-size: 14px;
}

/*Landing page image styling starts from here*/

.about-section{
    background-image: url("../images/bann_10-conect.png");
    background-size: cover;
    width: 100%;
    height: 400px;
    background-size: cover;
    margin-top: 63px;

}

.about-section > h1:first-child{
    text-align: center;
    color: whitesmoke;
    padding-top: 190px;
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 2px;
    opacity: 0.9;

}

.about-section > p:nth-child(2){
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 0.9;
}


/*Contact us section styling starts from here*/

#contact {
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: ghostwhite;
}

#contact h3{
    text-align: center;
}

#contact h3::after{
    content: "-------";
    display: block;
}

#contact i{
    font-size: 16px;
    margin-right: 10px;
    color: #259FD4;
}

#contact i+span{
    line-height: 2;
    font-size: 15px;
}

#contact h5{
    text-align: center;
}


#contact h5::after{
    content: "-------";
    display: block;
}








footer{
    background-color: black;
    padding: 15px;
}

footer h6{
    color: whitesmoke;
    font-size: 14px;
}

footer p{
    color: whitesmoke;
    font-size: 14px;
}

footer p a{
    text-decoration: none;
}


/*Media Quries Strat from here*/

/*Small Devices media Quries start from here*/
@media (max-width: 576px) {

    .about-section > h1:first-child{
        font-size: 1.2em;
    }

    .about-section > p:nth-child(2){
        font-size: 14px;
        line-height: 1.8;
    }

    #About h3{
        font-size: 20px;
    }

    #About h3+p{
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #slider h3{
        font-size: 20px;
    }

    #clients h3{
        font-size: 20px;
        line-height: 1.7;
    }



    footer h6{
        text-align: center;
        line-height: 1.8;
    }


}



/*Medium devices media Quries*/

@media (min-width: 576px) and (max-width: 767.98px){
    .about-section > h1:first-child{
        font-size: 2.5em;
    }

    footer h6{
        text-align: center;
        line-height: 1.7;
    }
}



@media (min-width: 768px) and (max-width: 991.98px) {

    footer h6{
        text-align: center;
        line-height: 1.7;
    }
}



@media (min-width: 992px) and (max-width: 1199.98px){
    footer h6{
        text-align: center;
        line-height: 1.7;
    }
}